@import "~bootstrap/scss/bootstrap";
$baseColor: DarkKhaki;
$baseColorLight: khaki;

.pagination {
  .page-link {
    background-color: $baseColor;
    border-color: $baseColorLight;
    color: $black;

    &:hover {
      background-color: $baseColorLight;
      border-color: $baseColorLight;
      color: $black;
    }
  }

  .page-item.active {
    .page-link {
      background-color: gold;
      border-color: yellow;
      color: $black;
    }
  }
}