@import "~bootstrap/scss/bootstrap";

body {
  background-color: $black;
}

.App {
  text-align: center;
}

.header {
  background: url('./images/maxresdefault.jpeg') no-repeat center center;
  background-size: cover;
  height: 50vh;

  + .container {
    margin-top: -10vh;
    background-color: rgba($black, .75);
    padding-top: 15px;

    h1 {
      color: $white;
      margin-bottom: 30px;
    }
  }
}


.loading-overlay {
  background-color: rgba($black, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .loading-inner {
    background-color: white;
    padding: 25px 50px;
  }
}

.results-list {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 10px;

  .result-item {
    border-color: DarkKhaki;

    .card-header {
      background-color: DarkKhaki;
    }

    .data-row {
      display: flex;
      text-align: left;
    }

    .label {
      margin-right: 10px;
      min-width: 100px;
      font-weight: bold;
    }
  }
}